
workDir = params.workdir

executor {
    name = "lsf"
    queueSize = 100
}

singularity { 
    enabled = true
    autoMounts = true
    cacheDir = params.cachedir
}
            
process {   
	cache = "lenient"
	errorStrategy = "retry"
    	maxRetries = 1

       	withLabel: ubuntu { cpus = 1 ; memory = '2 GB'; container = 'nanozoo/template:3.8--e13dfeb' } 
       	withLabel: edirect { cpus = 1 ; memory = '4 GB'; container = 'ncbi/edirect:12.5' } 
}
